<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' 
                href="https://github.com/monturaja" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")' 
                href="https://www.linkedin.com/in/montu-raja-aa409531a" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' 
                href="https://www.instagram.com/_montu_raja_vaishnav__" target='_blank'>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:vaishnavmontu3@gmail.com" target='_blank'>vaishnavmontu3@gmail.com</a>
        </div>
    </div>
    <div class="footer-credits text-center" >
       
      
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_andresjose", "footer", "click")' href="https://www.linkedin.com/in/montu-chouhan-271399204" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with Angular by Montu Raja</div>
        </a>
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_brittany", "footer", "click")' href="https://www.linkedin.com/in/montu-chouhan-271399204" target="_blank" rel="nofollow noopener noreferrer">
            <div class="copyright">Copyright &copy; 2025 All Rights Reserved by <br> <a href="https://t.me/montu_raja" style="color: #FF0000;">MontuRaja<br></a></div>
        </a>
    </div>

</footer>
